{{ partial "header" . }}

<div class="content container {{ .Title }} {{ .Section | urlize }}">
  <h1>{{ .Section }}</h1>
  {{ if eq .Section "food" }}
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      <section>
        {{ if eq "categories" $taxonomyname }}
          {{ range $key, $value := $taxonomy }}
            {{ if ne $key "drinks"}}
              <h2><em>{{ $key }}</em></h2>
              <hr>
              {{ range $value.Pages.GroupByParam "type" }}
                <h3>{{ .Key }}</h3>
                <ul>
                {{ range .Pages }}
                  <li>
                    <p><strong>{{ .Title }}:</strong> {{ .Params.description }}</p>
                    <p>{{ .Params.price }} €</p>
                  </li>
                {{ end }}
                </ul>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </section>
    {{ end }}
  {{ else if eq .Section "drinks" }}
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      <section>
        {{ if eq "categories" $taxonomyname }}
          {{ range $key, $value := $taxonomy }}
            {{ if eq $key "drinks"}}
              {{ range $value.Pages.GroupByParam "type" }}
                <h2><em>{{ .Key }}</em></h3>
                <hr>
                <ul>
                {{ range .Pages }}
                  <li>
                    <p><strong>{{ .Title }}:</strong> {{ .Params.description }}</p>
                    <p>{{ .Params.price }} €</p>
                  </li>
                {{ end }}
                </ul>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </section>
    {{ end }}
  {{ else if eq .Section "gallery" }}
    <div class="gallery-carousel">
      {{ range where .Pages "Section" "gallery" }}
        <div><img src="{{ .Params.image }}"/></div>
      {{ end }}
    </div>
    <div class="buttons">
      <button class="prev half-button">Prev</button>
      <button class="next half-button">Next</button>
    </div>
  {{ else if eq .Section "pedidos" }}
    <!-- <form action="https://formspree.io/f/mgepyddb" method="POST"> -->
    <!-- <form name="pedidos" method="POST" data-netlify="true"> -->
    <form name="pedidos" method="POST" action="https://script.google.com/macros/s/AKfycbw6jd5G7tfQaXrYIsnFIltQ9AcovAxmh4UH7m_O-Mmn-OCiWtE/exec">
    <input type="text" placeholder="Tu nombre" required name="name">
    <input type="tel" placeholder="Tu teléfono" required name="_telnum">
    Recogida en tienda
    <input type="radio" id="si" name="recogida-en-tienda" value="si">
    A Domicilio
    <input type="radio" id="no" name="recogida-en-tienda" value="no">
    Direccion
    <input type="text" name="domicilio" placeholder="Solo si has pedido a domicilio">
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      {{ if eq "categories" $taxonomyname }}
        {{ range $key, $value := $taxonomy }}
          {{ range $value.Pages.GroupByParam "type" }}
<!--             <h2><em>{{ .Key }}</em></h3>
            <hr> -->
            {{ range .Pages }}
                <!-- <p>{{ .Params.price }} €</p> -->
                {{ if .Params.active }}
                  <label for={{ .Title }}><strong>{{ .Title }}:</strong> {{ .Params.description }} {{ .Params.price }} €</label>
                  <input type="number" id={{ .Title }} name={{ .Title }} value=0 min="0" max="100">
                {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
    <input type="submit" value="Enviar">
  </form>
  {{ end }}
</div>

{{ partial "footer" . }}
